docs/Image/**/*.json
docs/sources
docs/Image
sources/TLEquipment.AGS.helper
sources/TLEquipment.NC.helper
sources/TLRunes.helper
docs/fish
docs/doll
docs/weapon/
scripts/__pycache__
docs/_sidebar.bak.md
docs/_sidebar.md
docs/items